<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tweeter Sentiment Analysis using NLP TF-IDF</title>
</head>
<body>
    <div class="login">
        <h1>Predict the Tweeter sentiment:</h1>
        <!-- Main Input for receiving Query to our ML-->
        <form action="{{ url_for('predict')}}" method="post">
            <input type="text" name="tweet" placeholder="Write your review for the movie Godzilla" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict Tweet</button>
         </form>
        <br>
        <br>
        {{ prediction_text }}
    </div>
</body>
</html>